extends layout.pug

block content
  .grid
    h2 Terrain generator
  .grid
    div
      h3
        b Octaves
        | &nbsp;– Defines number of noise layers
      h3
        b Persistance
        | &nbsp;– Defines how amplitude is changing for each noise layer
      h3
        b Lacunarity
        | &nbsp;– Defines how frequency is changing for each noise layer
