extends layout.pug

block content
  .grid
    h2 Combining multiple noises
  .grid
    #noise_1
      h3
        | Amplitude: 1.2
        br
        | Frequency: 0.5
    #noise_2
      h3
        | Amplitude: 0.15
        br
        | Frequency: 2.0
    #noise_3
      h3
        | Amplitude: 0.05
        br
        | Frequency: 6.0
