extends layout.pug

block content
  .grid
    h2 Adding some colors
  .grid
    div.colors
      h3
        b value
        |&nbsp;< 0.025 =>
        span.color(style="background-color: rgb(28, 130, 200);")
      h3
        b value
        |&nbsp;< 0.05 =>
        span.color(style="background-color: rgb(32, 136, 216);")
      h3
        b value
        |&nbsp;< 0.058 =>
        span.color(style="background-color: rgb(220, 186, 150);")
      h3
        b value
        |&nbsp;< 0.175 =>
        span.color(style="background-color: rgb(75, 186, 80);")
      h3
        b value
        |&nbsp;< 0.3 =>
        span.color(style="background-color: rgb(68, 178, 72);")
      h3
        b value
        |&nbsp;< 0.5 =>
        span.color(style="background-color: rgb(111, 106, 96);")
      h3
        b value
        |&nbsp;< 0.65 =>
        span.color(style="background-color: rgb(100, 90, 85);")
      h3
        b value
        |&nbsp;< 0.8 =>
        span.color(style="background-color: rgb(220, 220, 220);")
      h3
        |Everything higher =>
        span.color(style="background-color: rgb(256, 256, 256);")
