extends layout.pug

block content
  .grid
    h2 Going 3D
  .grid
    div
      p Almost all 3D objects are meshes.
      p
        | Mesh has a geomtry and material.
      p
        | In order to build a mesh geometry we need two arrays: array of
        b &nbsp;vertices
        |&nbsp;and array of
        b &nbsp;triangles.
      p &nbsp;
      p
        b Verticies
        |&nbsp;array is an array of 3d coordinates.
      p
        b Triangles
        |&nbsp;array is an array of vertex indexes in a specific order (Each triangle has to be formed clockwise).

